            
<!--Section: Features v.2-->
<section class="text-center">

    <!--Section heading-->
    <h1 class="py-5 font-weight-bold">Welcome</h1>
    <!--Section description-->
    <p class="px-5 mb-5 pb-3 lead grey-text">My name is Elijah Johnson. I'm a student at Marist College with a major in Software Development and minors in It and Is. I have personally crafted this site to showcase my passions and provide a consolidated product for potential employers.</p>

    <!--Grid row-->
    <div class="row text-left">

    <!--Grid column-->
    <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
        <i class="fa fa-bullhorn blue-text fa-2x"></i>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
        <h4 class="font-weight-bold">Marketing</h4>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
        <a class="btn btn-primary btn-sm ml-0">Learn more</a>
        </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
        <i class="fa fa-cogs pink-text fa-2x"></i>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
        <h4 class="font-weight-bold">Customization</h4>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
        <a class="btn btn-pink btn-sm ml-0">Learn more</a>
        </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
        <i class="fa fa-dashboard purple-text fa-2x"></i>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
        <h4 class="font-weight-bold">Support</h4>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
        <a class="btn btn-secondary btn-sm ml-0">Learn more</a>
        </div>
    </div>
    <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Features v.2-->
            