
p {
    font-weight: 450;
    font-size: 1.25rem;
    color: #212121 !important;
}
section {
    padding-top:2rem;
    background-color: #fffde7;
    padding-bottom:2rem;
    p{
            font-weight: 450;
    }
    p, h1, h4 {
        color: #212121;
    }
}
p.card-text {
    font-size: 1rem;
}
.card-body{

    text-align: center;

}
h4.card-title {

        font-size: 2rem;
        font-weight: bold !important;
        
    
}

.display-4 {
    text-align: center;
    padding-top:1rem;
    font-size: 2rem;
    font-weight: bold;
}
.dp1 {
    margin-bottom: 2rem;
}
.display-3 {
    text-align: auto;
    padding-top:2rem;
    padding-bottom:2rem;
    font-size: 1.5rem;
    font-weight: 400;
}
.display-2 {
    text-align: auto;
    margin-top:0;
    padding-top:0;
    font-size: 1.5rem;
    font-weight: bold;
}
div.avatar {
    margin-top: 2rem;
    padding-top:4rem;
    margin-bottom:1rem;
}
div.cd1 {
    margin-right:auto;
    margin-left: auto;
}
.myCard, .avatar {
    margin-bottom:0rem;
      p, h4, {
        color: #212121;
    }
    border-radius:0rem !important;
}
.card {
    padding: 0;
}
div.card-header {
    width:100%;
}
i {
    color: #fffde7;
}
.myBtn, .btn {
    a { color: #212121 !important; }
    border-radius:.25rem !important;
}
/* Double Diagonal line */

.lead {
    padding-bottom:2rem;
}
p.lead {
    font-size: 1.25rem;
    font-weight:400;
}
p.heading {
    color: #fffde7 !important;
}