
<div class="card testimonial-card">

    <!--Avatar-->
    <div class="avatar mx-auto"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle">
    </div>

    <div class="card-body">
        <!--Name-->
        <h4 class="card-title">Elijah Johnson</h4>
        <hr>
        <!--Quotation-->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
    </div>

</div>
<!--/.Card-->


         

<!--Section: Features v.2-->
<section class="text-center">

    <h1 class="display-4">About Me</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <br>
    <!--Section heading-->
    <h1 class="display-4">Technologies</h1>
    <!--Grid row-->
    <div class="row text-left">

    <!--Grid column-->
    <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
        <i class="fa fa-bullhorn blue-text fa-2x"></i>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
        <h4 class="font-weight-bold">Marketing</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
        <a class="btn btn-primary btn-sm ml-0">Learn more</a>
        </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
        <i class="fa fa-cogs pink-text fa-2x"></i>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
        <h4 class="font-weight-bold">Customization</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
        <a class="btn btn-pink btn-sm ml-0">Learn more</a>
        </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
        <i class="fa fa-dashboard purple-text fa-2x"></i>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
        <h4 class="font-weight-bold">Support</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
        <a class="btn btn-secondary btn-sm ml-0">Learn more</a>
        </div>
    </div>
    <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Features v.2-->
            