<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark blue-grey darken-3 scrolling-navbar" [containerInside]="true">
  <logo>
      <a class="logo navbar-brand" href=""><strong>Elijah Johnson</strong></a>
  </logo>
  <links>

      <ul class="navbar-nav mr-auto">
          <li class="nav-item waves-light" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" mdbRippleRadius>
              <a class="nav-link" [routerLink] ="['']">About</a>
          </li>
          <li class="nav-item waves-light" [routerLinkActive]="['active']" mdbRippleRadius>
              <a class="nav-link" [routerLink] ="['cv']">CV</a>
          </li>
          <li class="nav-item waves-light" [routerLinkActive]="['active']" mdbRippleRadius>
              <a class="nav-link" [routerLink] ="['prog']">Projects</a>
          </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbRippleRadius>
              <a href="https://github.com/emasy3" class="nav-link" target="_blank"><i class="fa fa-github"></i></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a href="https://www.linkedin.com/in/emasy3/" class="nav-link" target="_blank"><i class="fa fa-linkedin"></i></a>
          </li>
      </ul>
  </links>
</mdb-navbar>
<!-- Main -->

<main>
      <router-outlet></router-outlet>
</main>

                      
      <!--Footer-->
      <footer class="page-footer myFoot font-small blue-grey darken-3 pt-4 mt-4">
      
          <!--Footer Links-->
          <div class="container text-center text-md-left">
      
              <!-- Footer links -->
              <div class="row text-center text-md-left mt-3 pb-3">
    
                  <!--Second column-->
                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                      <h6 class="text-uppercase mb-4 font-weight-bold">Services</h6>  <p>Coming Soon</p>
                      <!--<p><a href="#!">Software Development</a></p>
                      <p><a href="#!">Musical Lessons</a></p>-->
                  </div>
                  <!--/.Second column-->
      
                  <hr class="w-100 clearfix d-md-none">
      
                  <!--Third column-->
                  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                      <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                      <p><a href="https://github.com/emasy3" target="_blank">Github</a></p>
                      <p><a href="assets/docs/Resume2.docx">Download Resume</a></p>
                  </div>
                  <!--/.Third column-->
      
                  <hr class="w-100 clearfix d-md-none">
      
                  <!--Fourth column-->
                  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                      <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                      <p><i class="fa fa-home mr-3"></i> New York, NY 12601, US</p>
                      <p><i class="fa fa-home mr-3"></i> Silver Spring, MD 20901, US</p>
                      <p><i class="fa fa-envelope mr-3"></i> elijah.johnson1@marist.edu</p>
                      <p><i class="fa fa-phone mr-3"></i>202-807-5960</p>
                  </div>
                  <!--/.Fourth column-->
      
              </div>
              <!-- Footer links -->
      
              <hr>
      
              <div class="row py-3 d-flex align-items-center">
      
                  <!--Grid column-->
                  <div class="col-md-8 col-lg-8">
      
                      <!--Copyright-->
                      <p class="text-center text-md-left grey-text">© 2018 Copyright:<strong> Elijah Johnson</strong></p>
                      <!--/.Copyright-->
      
                  </div>
                  <!--Grid column-->
      
                  <!--Grid column-->
                  <div class="col-md-4 col-lg-4 ml-lg-0">
      
                      <!--Social buttons-->
                      <div class="text-center text-md-right">
                          <ul class="list-unstyled list-inline">
                              <li class="list-inline-item"><a href="https://github.com/emasy3" class="btn-floating btn-sm rgba-white-slight mx-1" target="_blank"><i class="fa fa-github"></i></a></li>
                              <li class="list-inline-item"><a href="https://www.linkedin.com/in/emasy3/" class="btn-floating btn-sm rgba-white-slight mx-1" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                          </ul>
                      </div>
                      <!--/.Social buttons-->
      
                  </div>
                  <!--Grid column-->
      
              </div>
      
          </div>
      
      </footer>
      <!--/.Footer-->
                      