<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark teal darken-3 scrolling-navbar" [containerInside]="true">
  <logo>
      <a class="logo navbar-brand" href=""><strong>Elijah Johnson</strong></a>
  </logo>
  <links>

      <ul class="navbar-nav mr-auto">
          <li class="nav-item waves-light" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" mdbRippleRadius>
              <a class="nav-link" [routerLink] ="['']">About</a>
          </li>
          <li class="nav-item waves-light" [routerLinkActive]="['active']" mdbRippleRadius>
              <a class="nav-link" [routerLink] ="['cv']">CV</a>
          </li>
          <li class="nav-item waves-light" [routerLinkActive]="['active']" mdbRippleRadius>
              <a class="nav-link" [routerLink] ="['prog']">Projects</a>
          </li>
          <li class="nav-item waves-light" [routerLinkActive]="['active']" mdbRippleRadius>
              <a class="nav-link" [routerLink] ="['contact']">Contact</a>
          </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-instagram"></i></a>
          </li>
      </ul>
  </links>
</mdb-navbar>
<!-- Main -->

<main>
      <router-outlet></router-outlet>
</main>

