  <!--Projects section v.4-->
  <section class="text-center pb-3">
        
    <!--Section heading-->
    <h2 class="headr font-weight-bold h1">
        <strong>Programming</strong>
    </h2>
    <!--Section description-->
    <p class="pb-5 text-center">A feed of my programming projects.</p>
    
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class=" half1 col-md-6 mb-4">
            <div class="card card-image">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h6 class="green-text">
                            <strong>Personal Site</strong>
                        </h6>
                        <h3 class="py-3 font-weight-bold">
                            <strong>HTML/Typescript/JS/SCSS</strong>
                        </h3>
                        <p class="pb-3">This project is the site you are on! It hosts my projects and consildates my ideas and life as one brand.
                        </p>
                        <a href="https://github.com/emasy3/personalSite" class="btn blue-grey darken-3 btn-rounded btn-md" target="_blank">
                            <i class="fa fa-clone left"></i> View project</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->
    
        <!--Grid column-->
        <div class=" half1 col-md-6 mb-4">
            <div class="card card-image">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h6 class="green-text">
                            <strong>Arduino Calculator</strong>
                        </h6>
                        <h3 class="py-3 font-weight-bold">
                            <strong>C++</strong>
                        </h3>
                        <p class="pb-3">This project was buit using an arduino. I built a binary calculator that output results to an LCD screen on the arduino. To run this yourself, you'll have to look at the source code to figure out how each pin is used and build your board accordingly. Project ReadME COMING SOON.
                        </p>
                        <a href="https://github.com/emasy3/Arduino-Calculator" class="btn blue-grey darken-3 btn-rounded btn-md">
                            <i class="fa fa-clone left"></i> View project</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->
    
        <!--Grid column-->
        <div class=" half1 col-md-6 mb-4">
            <div class="card card-image">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h6 class="green-text">
                            <strong>Riddle Game</strong>
                        </h6>
                        <h3 class="py-3 font-weight-bold">
                            <strong>Java</strong>
                        </h3>
                        <p class="pb-3">This project is a java game that utilizes a DFA to track the user progress through a series of riddles.
                        </p>
                        <a href="https://github.com/emasy3/" class="btn blue-grey darken-3 btn-rounded btn-md">
                            <i class="fa fa-clone left"></i> View project</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->
    
        <!--Grid column-->
        <div class=" half1 col-md-6 mb-4">
            <div class="card card-image">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h6 class="green-text">
                            <strong>6502 Web Operating System</strong>
                        </h6>
                        <h3 class="py-3 font-weight-bold">
                            <strong>Typescript</strong>
                        </h3>
                        <p class="pb-3">This project is a web based typescript operating system. The OS is based on the 6502 OS and runs hexadecimal code on simulated hardware.
                        </p>
                        <a href="https://github.com/emasy3/OS_Repo" class="btn blue-grey darken-3 btn-rounded btn-md">
                            <i class="fa fa-clone left"></i> View project</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->
    
    </div>
    
</section>
<!--Projects section v.4-->
            