  <!--Projects section v.4-->
  <section class="text-center pb-3">
        
    <!--Section heading-->
    <h2 class="headr font-weight-bold h1">
        <strong>Programming</strong>
    </h2>
    <!--Section description-->
    <p class="pb-5 text-center">A soon to be feed of my most recent programming projects.</p>
    
    <!--Grid row-->
    <div class="row">
    
        <!--Grid column-->

        <div class=" half1 col-md-6 mb-4">
            <div class="card card-image">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h6 class="green-text">
                            <strong>Personal Site</strong>
                        </h6>
                        <h3 class="py-3 font-weight-bold">
                            <strong>Viewable</strong>
                        </h3>
                        <p class="pb-3">This project is the site you are on! It hosts my projects and consildates my ideas and life as one brand. Project installation and launch instructions are in the ReadME.
                        </p>
                        <a href="https://github.com/emasy3/personalSite" class="btn blue-grey darken-3 btn-rounded btn-md" target="_blank">
                            <i class="fa fa-clone left"></i> View project</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->
    
        <!--Grid column-->
        <div class=" half1 col-md-6 mb-4">
            <div class="card card-image">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h6 class="green-text">
                            <strong>Arduino Calculator</strong>
                        </h6>
                        <h3 class="py-3 font-weight-bold">
                            <strong>Coming Soon</strong>
                        </h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio
                            vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed
                            qui, dolorum!
                        </p>
                        <a class="btn blue-grey darken-3 btn-rounded btn-md">
                            <i class="fa fa-clone left"></i> View project</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->
    
        <!--Grid column-->
        <div class=" half1 col-md-6 mb-4">
            <div class="card card-image">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h6 class="green-text">
                            <strong>C++ Interpreter</strong>
                        </h6>
                        <h3 class="py-3 font-weight-bold">
                            <strong>Coming Soon</strong>
                        </h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio
                            vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed
                            qui, dolorum!
                        </p>
                        <a class="btn blue-grey darken-3 btn-rounded btn-md">
                            <i class="fa fa-clone left"></i> View project</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->
    
        <!--Grid column-->
        <div class=" half1 col-md-6 mb-4">
            <div class="card card-image">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h6 class="green-text">
                            <strong></strong>
                        </h6>
                        <h3 class="py-3 font-weight-bold">
                            <strong>Coming Soon</strong>
                        </h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio
                            vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed
                            qui, dolorum!
                        </p>
                        <a class="btn blue-grey darken-3 btn-rounded btn-md">
                            <i class="fa fa-clone left"></i> View project</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->
    
    </div>
    <!--Grid row-->
    <hr size="100px">
    <!--Section heading-->
    <h2 class="headr1 font-weight-bold h1">
        <strong>Music</strong>
    </h2>
    <!--Section description-->
    <p class="pb-5 text-center">A soon to be feed of my most recent musical projects.</p>
    
    <!--Grid row-->
    <div class="row">
    
        <!--Grid column-->
        <div class=" half1 col-md-6 mb-4">
            <div class="card card-image">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h6 class="green-text">
                            <strong>Coming Soon</strong>
                        </h6>
                        <h3 class="py-3 font-weight-bold">
                            <strong>This is card title</strong>
                        </h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio
                            vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed
                            qui, dolorum!
                        </p>
                        <a class="btn blue-grey darken-3 btn-rounded btn-md">
                            <i class="fa fa-clone left"></i> View project</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->
    
        <!--Grid column-->
        <div class=" half1 col-md-6 mb-4">
            <div class="card card-image">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h6 class="green-text">
                            <strong> Coming Soon</strong>
                        </h6>
                        <h3 class="py-3 font-weight-bold">
                            <strong>This is card title</strong>
                        </h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio
                            vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed
                            qui, dolorum!
                        </p>
                        <a class="btn blue-grey darken-3 btn-rounded btn-md">
                            <i class="fa fa-clone left"></i> View project</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->
    
    </div>
    <br>
    <!--Grid row-->
    
</section>
<!--Projects section v.4-->
            