i.myMob {
    font-size:31px !important;
}
html, main {
    font: arial;
    background-color: #f9fbe7;
}
footer.pt-4, .mt-4 {
    margin-top: -1rem !important;
    padding-top:0rem !important;
}
main {
    margin-bottom:0rem;
}

p.fa { 
   font-color: #f9fbe7;      
}
footer.myFoot a{
        font: arial;
        font-color: #f9fbe7 !important;
    }
