
html, main {
    font: arial;
    background-color: #f9fbe7;
}
footer.pt-4, .mt-4 {
    margin-top: -1rem !important;
    padding-top:0rem !important;
}
main {
    margin-bottom:0rem;
}
footer {
    p, h1, h4 {
        font-color: #f9fbe7
    }
    
}